@import '../../../sass/vars';

.template{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 5px 0px $color-1;
    background: transparent;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px inset $color-2;
    
    a{
        margin-left: 10px;
    }

    button{
        color: $color-5;
        font-weight: bold;
        background-color: $color-1;
        align-self: stretch;
        padding: 10px;
        border: none;
    }
}