@import "../../../sass/vars";

.content{
    width: 90%;
    margin: auto;
    padding: 20px 10px;
    border-radius: 20px;
    background-color: rgba(black, $alpha: .6); 
    text-align: center;
    overflow-y: auto;
    height: auto;
    max-height: 80vh;
}