@import "../../../sass/vars";

.content{
    width: 90%;
    margin: auto;
    padding: 20px 10px;
    border-radius: 20px;
    background-color: rgba($color-4, $alpha: 0.7); 
    box-shadow: 0 0 2px 0px $color-1;
}