@mixin input{
    border: 1px inset white;
    box-shadow: 0 0 3px 0px $color-secondary;
    background: transparent;
    border-radius: 15px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    outline: none;
    color: inherit; 
    margin-bottom: 20px;
    appearance: none;
    font-family: inherit;
}

@mixin label {
    position: absolute;
    top: -20px;
    left: 10px;
    font-size: 14px;
    padding: 0 4px;
    border-radius: 4px;
    display: inline-block;
}