$color-1: #f9d342;
$color-2: #f9f8f4;
$color-3: #373327;
$color-4: #292826;
$color-5: #15130f;

$color-primary: #3c1a5b;
$color-primary-light: #590f9f;
$color-primary-dark: #1d0d2d;

$color-secondary: #fff748;
$color-secondary-light: #fcf79d;
$color-secondary-dark: #9d971a;
$color-secondary-bright: #fff30e;