@import "../../../sass/vars";


.template{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // box-shadow: 0 0 4px 0px $color-secondary;
    background: transparent;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px inset white;
}

.name{
    padding: 5px 10px;
}

.edit{
    background: $color-primary;
    padding: 0 10px;
    align-self: stretch;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    color: $color-secondary;
    user-select: none;
    outline:none;
    transition: .2s;
    &:active{
        background: $color-secondary;
        color: $color-primary;
        box-shadow: none;
    }
}