@import '../../../sass/vars';

.button{
    width: 100%;
    font-size: 16px;
    background: $color-secondary;
    border-radius: 15px;
    line-height: 36px;
    border: 1px inset $color-primary;
    box-sizing: border-box;
    color: $color-primary;
    user-select: none;
    outline:none;
    transition: .2s;
    text-align: center;
    font-family: inherit;
    &:active{
        background: $color-primary;
        color: $color-secondary;
        box-shadow: none;
    }
}