.heading{
    margin-bottom: 20px;
}
.entry{
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px inset white;
    padding: 5px 10px;
}
// .excName{
//     font-size: 16px;
// }