@import "../../../sass/vars";

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    margin-bottom: 20px;
    align-items: center;
    width: 90%;
    color: $color-secondary;

    .box{
        display: flex;
        align-items: center;
    }
    a{
        text-decoration: none;
        user-select: none;
        outline: none;
        margin-left: 15px;
        color: inherit;
    }
    .name{
        margin: 0 20px;
        text-align: center;
    }
}
.history{
    width: 30px;
    height: 40px;
}
.logo{
    width: 50px;
}
i{
    font-size: 30px;
}