@import "../../sass/vars";
@import "../../sass/mixins";

.login{
    
    input{
       @include input;
    }
    label{
       @include label;
    }
    .field{
        position: relative;
        margin-bottom: 26px;
        span{
            color: rgb(255, 87, 87);
        }
    }
}