.new{
    
    text-align: center;
}
.form{
    width: 80%;
    margin: auto;
    font-size: 20px;
    margin-bottom: 10px;
}
.input{
    font-size: inherit;
    color: inherit;
    background-color: black;
    padding: 5px 10px;
    border: 1px solid white;
    outline: none;
}
.button{
    color: inherit;
    font-size: inherit;
    border: 1px solid white;
    background-color: black;
    padding: 5px 10px;
    outline: none;
}